<h3>{{titulo}}</h3>
<hr>
<!-- public nombre: string,
        public descripcion: string,
        public precio: number,
        public imagen: string
    -->

<form #formProducto="ngForm" (ngSubmit)="onSubmit()" class="col-lg-6" id='form-producto'>
    <label>Nombre
        <span *ngIf="!nombre.valid && nombre.touched" class="badge badge-danger">El nombre es obligatorio.</span>
    </label>
    <input type="text" class="form-control" #nombre="ngModel" name="nombre"  [(ngModel)]="producto.nombre" required>
    

    <label>Descripción
        <span *ngIf="!descripcion.valid && descripcion.touched" class="badge badge-danger">La descripcion es obligatorio.</span>
    </label>
    <textarea type="text" class="form-control" name="descripcion" #descripcion="ngModel" [(ngModel)]="producto.descripcion"
    required></textarea>
    <label>Precio
        <span *ngIf="!precio.valid && precio.touched" class="badge badge-danger">El precio es obligatorio.</span>
    </label>
    <input type="text" class="form-control" name="precio" #precio="ngModel" [(ngModel)]="producto.precio"
    required pattern="[0-9]+">
    <label>imagen</label>
    <input type="file" class="form-control" >
    <br>
    <input type="submit" class="btn btn-success" value={{titulo}} [disabled]="!formProducto.form.valid">
</form>
